---
layout: page
---
{% for post in site.categories[page.title] %}
    <ul class="category">
        {% if post.title != null %}
            <li>
                {% if post.link %}
                    <a href="{{ post.link }}">
                {% else %}
                    <a href="{{ site.baseurl }}{{ post.url }}">
                {% end if %}
                    {{ post.title }}
                    </a>
                    <time>{{ post.date | date: "%Y-%m-%d" }}</time>
                        {% endfor %}
            </li>
            {% endif %}
    </ul>
{% endfor %}